/* src/styles/global.css */
.auth-layout {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f3f3;
  }
  
  .auth-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }