/* 헤더 스타일 */
.main-layout-header {
    position: sticky;
    top: 0;
    z-index: 1002;
    width: 100%;
  }

  .auth-page .main-layout-header {
    border-bottom: 1px solid #eaeded;
  }
  
  /* 사이드바 스타일 개선 (옵션) */
  :root {
    --navigation-width: 280px;
  }
  
  /* 모바일 화면에서의 헤더 및 레이아웃 스타일 */
  @media (max-width: 688px) {
    .main-layout-header {
      position: relative;
    }
  }
  .auth-page .main-layout-header {
  border-bottom: 1px solid #eaeded;
  }